*{
    margin:0;
 }
 
 div.icon{
    float: right;
 }
 div.icon a:hover{
    color: #900;
 }
 button.btn-success{
    width: 180px;
    height: 45px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 20px;
 }
 div#me button.btn-success{
    width: 100px;
    height: 45px;
 }
 
 nav.id{
    clear: both;
    height: 38px;
 }
 div#me{
    padding-right: 0;
    float: right;
    text-decoration: none;
    margin-left: 280px;  
 }
 article#body{
    border: #E2DFDF;
    clear: both;
    margin: 5px 2px 5px 2px;
    display: table-row;
    background-color: #E2DFDF;
    box-shadow: 1px ;
 }
 footer {
    background-color:#51BE10 ;
 }
 aside#left, aside#right, section{
    display: table-cell;
    vertical-align: top;
 }
 aside#left{
    width: 20%;
 }
 aside#right{
    width: 20%;
 }
 div#subject{
    box-sizing: border-box;
     width: 230px;
     height: 290px;
     border: 2px solid #2AA4C9;
     margin-top: 10px;
     margin-right: 5px;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;
 }
 div#publishers{
    box-sizing: border-box;
    width: 230px;
    height: 270px;
    border: 2px solid #2AA4C9;
    margin-top: 60px;
    margin-right: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
 }
 div.asideleft p{
    background-color: #2AA4C9;
    text-align: center;
    color: white;
    padding: 5px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
 }
 div.asideleft ul li a:hover{
   color: #D22912;
 }
 div#bestseller{
    width: 80%;
    height: 450px;
    margin: 20%;
    text-align: center;
    border: 2px solid #2AA4C9;
    margin-top: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
 }
 img.image{
    width: 70px;
    height: 100px;
 }
 div#link{
    box-sizing: border-box;
     width: 80%;
     height: 90px;
     margin-top: 20px;
     margin: 20%;
     text-align: center;
     border: 2px solid #2AA4C9;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;
 }
 select.box{
    margin: 2px;
 }
 div#statistic{
    box-sizing: border-box;
     width: 80%;
     margin: 20%;
     background-color:#AEF4FC;
     color: red;
     border: 2px solid #2AA4C9;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;
 }
 p#bo, p#bor, p#bord{
    background-color: #2AA4C9;
    text-align: center;
    color: white;
    padding: 5px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
 }

 .login{
   background-color: rgb(189, 214, 255);
    padding-top: 20px ;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(189, 214, 255);
 }
th.title{
   height: 40px;
   width: 500px;
   background-color: #2AA4C9;
   color: black;
 }
 div.mb-4{
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 20px;
   margin-right: 20px;
   background-color: #ffb4aa;
 }
 input.form-control{
   width: 300px;
 }
